<div @fadeInAnimation *ngIf="receive" class="container pt-5 pb-5 justify-content-center">
    <div class="row">
        <div class="col-sm-4 pl-5 pr-5 pt-3 pb-3">
            <div class="card">
                <a routerLink="/gate">
                    <img class="card-img-top p-4 btn btn-light " src="assets/images/tidalControlGate.svg"
                        height="230">
                    <h3 class="card-title  text-center">Tidal Control Gate</h3>
                </a>
            </div>
        </div>
        <div class="col-sm-4 pl-5 pr-5 pt-3 pb-3">
            <div class="card">
                <a routerLink="/maintenanceLog">
                    <img class="card-img-top p-4 btn btn-light " src="../../assets/images/maintenanceLogo.svg"
                        height="230">
                    <h3 class="card-title  text-center">Maintenance Log</h3>
                </a>
            </div>
        </div>
        <div class="col-sm-4 pl-5 pr-5 pt-3 pb-3">
            <div class="card">
                <a routerLink="/inspectionLog">
                    <img class="card-img-top p-4 btn btn-light " src="../../assets/images/inspectionLog.svg"
                        height="230">
                    <h3 class="card-title  text-center">Inspection Log</h3>
                </a>
            </div>
        </div>
    </div>
    <div class="ml-5 mr-5">
        <u><h1 class="mt-5">Location of Gates</h1></u>
        <div class="container d-none d-lg-block" #chart style="width:100%; background-color:lightblue"></div>
    </div>
    
</div>
