<nav aria-label="breadcrumb ">
    <ol class="breadcrumb mb-2">
        <li class="breadcrumb-item"><a routerLink="home">Home</a></li>
    </ol>
</nav>
<div @fadeInAnimation *ngIf="receive" class="container pt-5 pb-5 justify-content-center">

    <div class="row">
        <div class="col-sm-4 pl-5 pr-5 pt-3 pb-3">
            <div class="card">
                <a routerLink="/gate">
                    <img class="card-img-top p-4 btn btn-light " src="../../assets/images/tidalControlGate.svg"
                        height="230">
                    <h3 class="card-title  text-center">Tidal Control Gate</h3>
                </a>
            </div>
        </div>
        <div class="col-sm-4 pl-5 pr-5 pt-3 pb-3">
            <div class="card">
                <a routerLink="/maintenanceLog">
                    <img class="card-img-top p-4 btn btn-light " src="../../assets/images/maintenanceLogo.svg"
                        height="230">
                    <h3 class="card-title  text-center">Maintenance Log</h3>
                </a>
            </div>
        </div>
        <div class="col-sm-4 pl-5 pr-5 pt-3 pb-3">
            <div class="card">
                <a routerLink="/inspectionLog">
                    <img class="card-img-top p-4 btn btn-light " src="../../assets/images/inspectionLog.svg"
                        height="230">
                    <h3 class="card-title  text-center">Inspection Log</h3>
                </a>
            </div>
        </div>
    </div>
    <!--
    <div class="card-deck align-bottom">
        <div class="card ">
            <a routerLink="/gate">
                <img class="card-img-top p-5" src="../../assets/images/tidalControlGate.svg" height="200">
                <div class="card-body">
                    <h1 class="card-title  text-center">Tidal Control Gate</h1>
                </div>
            </a>
        </div>
        <div class="card">
            <a routerLink="/maintenanceLog">
                <img class="card-img-top p-5" src="../../assets/images/maintenanceLogo.svg" height="200">
                <div class="card-body">
                    <h1 class="card-title text-center">Maintenance Log</h1>
                </div>
            </a>
        </div>
        <div class="card">
            <a routerLink="/inspectionLog">
                <img class="card-img-top p-5" src="../../assets/images/inspectionLog.svg" height="200">
                <div class="card-body">
                    <h1 class="card-title text-center">Inspection Log</h1>
                </div>
            </a>
        </div>
    </div>
    -->
</div>