<div>
    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb ">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/maintenanceLog">Maintenance Log</a></li>
            <li class="breadcrumb-item active">Add</li>
        </ol>
    </nav>

    <div @fadeInAnimation *ngIf="receive" class="container ">
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <div class=" mt-4 mb-2 ">
                <div *ngFor="let question of questions">
                    <app-form-question [question]="question" [form]="form"></app-form-question>
                </div>
            </div>
            <button type="submit" class="btn-success btn-lg btn-block mb-4 mt-4">Submit</button>
        </form>
    </div>
</div>